<!-- FOOTER SECTION -->
    <footer id="footer" class="pt-5">
        <div class="container pt-4">
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-3">
                    <h4 class="mb-4">Manzil</h4>
                    <ul>
                        <li class="b-border dont d-flex jutify-content-between align-items-center">
                            <span>Ko'ksaroy maydoni 1-uy. Samarqand</span>
                        </li>
                        <li class="b-border">
                            <i class="bi bi-telephone-fill"></i> &nbsp;
                            <b>Telefon:</b> (+998) 95 500 07 06
                        </li>
                        <li>
                            <i class="bi bi-envelope-fill"></i> &nbsp;
                            <b>Email:</b> buyukbilim1@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 ps-sm-5 sm-none">
                    <h4 class="mb-4">Bo'limlar</h4>
                    <ul>
                        <a href="{{url}}"><li>Bosh sahifa</li></a>
                        <a href="{{url}}about"><li>Biz haqimizda</li></a>
                        <a href="{{url}}auth/register"><li>Aloqa</li></a>
                        <li>
                            Kurslar
                            <ul class="course">
                                <a href="{{url}}courses/offline"><li>Offline</li></a>
                                <a href="{{url}}courses/online"><li>Online</li></a>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 sm-none">
                    <h4 class="mb-4">Ijtimoiy tarmoqlar</h4>
                    <p class="dont mb-3">Bizni ijtimoiy tarmoqlar orqali ham kuzatib boring:</p>
                    <div class="footer-link d-flex flex-column">
                        <a class="bi bi-facebook" target="_blank" href="#"> Facebook</a>
                        <a class="bi bi-instagram" target="_blank" href="https://instagram.com/buyuk_bilim?igshid=YmMyMTA2M2Y="> Instagram</a>
                        <a class="bi bi-telegram" target="_blank" href="https://t.me/Buyuk_Bilim"> Telegram</a>
                        <a class="bi bi-youtube" target="_blank" href="https://youtu.be/0r8b5x_I2cA"> You Tube</a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3">
                    <h4 class="mb-4">Markaz faoliyati</h4>
                    <ul class="d-flex flex-wrap images">
                        <li>
                            <img src="{{url}}/img/footer/foot1.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot2.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot3.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot4.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot5.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot6.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot7.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot8.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                        <li>
                            <img src="{{url}}/img/footer/foot9.jpg" style="height: 70px; object-fit: cover;" alt="manzil" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row pt-4">
                <div class="foot col-lg-12 text-center py-4 ">
                    <p class="mb-0">&copy; Copyright 2022, Toshtemirov Mukhammadi</p>
                </div>
            </div>
        </div>
    </footer>